<launch>
  	<arg name="hostname" default="192.168.0.171:12080"/>
  	
	<include file="$(find robotino_node)/launch/robotino_node.launch">
		<arg name="hostname" value="$(arg hostname)"/>
	</include>	

	<include file="$(find robotino_motion)/launch/robotino_motion.launch">
	</include>

	<include file="$(find robotino_vision)/launch/robotino_vision.launch">
	</include>
		
	<include file="$(find robotino_leds)/launch/robotino_leds.launch">
	</include>

	<include file="$(find robotino_navigation)/launch/navigation.launch">
	</include>
	
	<!--include file="$(find cbr2015_module_a_planner)/launch/modulo_a.launch">
		<arg name="hostname" value="$(arg hostname)"/>
	</include-->

</launch>
