<launch>
	<arg name="hostname" default="192.168.1.171:12080"/>
	<node name="robotino_node" pkg="robotino_node" type="robotino_node" output="screen">
		<param name="hostname" value="$(arg hostname)" />
		<param name="max_linear_vel" value="0.5" />
		<param name="min_linear_vel" value="0.05" />
		<param name="max_angular_vel" value="3.0" />
		<param name="min_angular_vel" value="0.1" />
		<remap from="robotino_joint_states" to="joint_states" />
	</node>
	<node name="robotino_odometry_node" pkg="robotino_node" type="robotino_odometry_node" output="screen">
	 	<param name="hostname" value="$(arg hostname)" />
	</node>  	
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher" output="screen">
		<param name="publish_frequency" type="double" value="20.0" />
	</node>	
	<node name="robotino_camera_node" pkg="robotino_node" type="robotino_camera_node">
    		<param name="hostname" value="$(arg hostname)" />
    		<param name="cameraNumber" value="0" />
	</node>

	<node name="robotino_laserrangefinder_node" pkg="robotino_node" type="robotino_laserrangefinder_node">
    		<param name="hostname" value="$(arg hostname)" />
    		<param name="laserRangeFinderNumber" value="0" />
	</node>

	<param name="robot_description" textfile="$(find robotino_description)/urdf/robotino.urdf" />
</launch>
