<?xml version="1.0"?>
<launch>
  	<arg name="hostname" default="192.168.0.112:12080"/>
	<arg name="robot" default="robotino"/>
  	<group ns="$(arg robot)">
    		<include file="$(find robotino_node)/launch/robotino_node.launch">
			<arg name="hostname" value="$(arg hostname)"/>
		</include>
		<include file="$(find robotino_vision)/launch/robotino_vision.launch"/>
	</group>
</launch>
