<launch>
	<arg name="hostname" default="192.168.0.171:12080" />
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find robotino_motion)/config/rosconsole.conf" />
	<node name="align_server" pkg="robotino_motion" type="align_server_node"  output="screen" />
	<!--<node name="align_client" pkg="robotino_motion" type="align_client_node" output="screen" />
	<include file="$(find robotino_node)/launch/robotino_node.launch">
		<arg name="hostname" value="$(arg hostname)" />
	</include>-->	
</launch>
