<?xml version="1.0"?>
<launch>

	<node name="align_server" pkg="robotino_motion" type="align_server_node"  output="screen" />
	<node name="grab_puck_server" pkg="robotino_motion" type="grab_server_node" output="screen" />
	<!--<node name="move_puck_server" pkg="robotino_motion" type="move_server_node" output="screen" />-->

</launch>
