<launch>
	<env name="ROSCONSOLE_CONFIG_FILE" value="$(find robotino_leds)/config/rosconsole.conf"/>
	<node name="robotino_motion_leds_node" pkg="robotino_leds" type="robotino_leds_node"  output="screen">
		<param name="frequency" value="1.0"/>
	</node>
	<node name="rqt_console" pkg="rqt_console" type="rqt_console"  output="screen">
	</node>
</launch>
